@import-normalize;

:root {
  --color-primary: #101828;
  --color-secondary: #475467;
  --color-accent: #E44848;
  --color-accent-interact: #D84343;
  --color-rating: #FFC531;
  --color-cloud: #F2F4F7;
  --color-light: #F7F7F7;
  --color-pale: rgba(71, 84, 103, 0.2);
  --color-white: #fff;
}

body {
  margin: 0;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  font-family: 'Inter', 'Segoe UI', 'Roboto', 'Oxygen', sans-serif;
  font-style: normal;
  overflow-y: scroll;
  color: var(--color-primary);
}

body::-webkit-scrollbar {
  width: 5px;
  display: flex;
  }

body::-webkit-scrollbar-track {
  background: var(--color-cloud);
  }

body::-webkit-scrollbar-thumb {
  background: var(--color-accent);
  }

h1,
h2,
h3,
h4,
h5,
h6,
p,
ul {
  margin: 0;
  padding: 0;
}

a {
  text-decoration: none;
  color: inherit;
}

img {
  display: block;
}

button {
  cursor: pointer;
  font-family: inherit;
}

ul { 
  list-style: none;
}

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  
  white-space: nowrap;
  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}